* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #888;
    padding: 10px;
}

th {
    text-align: left;
}

.right {
    text-align: right;
}

.active {
    font-weight: bold;
}

nav {
    background-color: #929292;
    padding: 10px;
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00aa47;
}

form {
    display: grid;
    max-width: 400px;
}

label {
    text-align: left;
    line-height: 2;
}

input {
    padding: 5px;  
}

button {
        background-color: #929292;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

button:hover {
    background-color: #00aa47;
}

.error {
    color: red;
    font-size: small;
}